.form__contact {
    padding: 140px 0 100px;
    background: #f3f1ec;
    text-align: center;
} 
.form__content {
    width: 770px;
    margin: auto;
}
.form__content-top {
    margin-bottom: 30px;
    font-size: 0;
}

.form__input {
    width: 100%;
    padding: 25px 43px;
    font: bold 14px 'PTserif';
    text-transform: uppercase;
    color: $content;
    border: none;
    resize: none;
}
.form__input-top {
    display: inline-block;
    vertical-align: top;
    width: 50%;  
}
.form__content-bottom {
    margin-bottom: 55px;
}
.button {
    border: none;
}