
.header__top {
    background-color: #f3f1ec;
    margin-bottom: 50px;
}
.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}
.nav__link {
    text-decoration: none;
    color: $content;
    padding: 0 25px;
    text-transform: uppercase;
    font: bold 14px 'PTserif'
}
.nav__item {
    &:after {
        content: '';
        width: 2px;
        height: 17px;
        display: inline-block;
        vertical-align: middle;
        background: #d0ceca;
    }
    &:last-child::after {
        display: none;
    }
}
.header__bottom {
    @include clearfix;
}
.header__contacts {
    float: left;
    width: 15%;
}
.header__logo {
    float: left;
    width: 70%;
    text-align: center;
}
.header__buy {
    float: right;
    width: 15%;
}
.contact {
    display: block;
    text-decoration: none;
    color: $content;
    text-align: right;
    text-transform: uppercase;
}
.contact__phone {
    &:before {
		font-family: 'FontAwesome';
        content: "\f095";
        padding-right: 5px;
	}
}
.logo {
    display: inline-block;
}
.logo__pic {
    display: block;
    max-width: 280px;
    max-height: 100px;
}
.cart {
    text-decoration: none;
}
.cart__text {
    display: block;
    color: $content;
    text-transform: uppercase;
}
.cart__text-shopping-cart {
    &:before {
		font-family: 'FontAwesome';
        content: "\f07a";
        padding-right: 10px;
	}
}