.container__services {
    padding: 140px 0;
    text-align: center;
}

.services__title {
    margin-bottom: 100px;
    display: inline-block;
    width: 35%;
    position: relative;
    z-index: 1;
}
