.welcome {
    padding: 140px 0;
    text-align: center;
    
}
.welcome__title {
    margin-bottom: 100px;
    display: inline-block;
    width: 35%;
    position: relative;
    z-index: 1;
}
.section__title {
    font: bold 35px 'PTserif';
    color: #434343;

    &:after {
        @include centerer-x();
        content: '';
        width: 110px;
        height: 2px;
        background: $content;
        bottom: -40px;
    }
   
}
.section__title-bottom {
    z-index: -1;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
}
.section__title-desc {
    color: $content;
    text-transform: uppercase;
}
.welcome__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px 65px;
}
.welcome__item {
    width: 33.3%;
    padding: 0 15px
}
.welcome__pic {
    display: block;
    max-width: 100%;
}
